body {
	background-color: #AFC2FF !important;
}

h1 {
	font-family: 'Gloria Hallelujah', cursive !important;
	font-size: 18pt !important;
}

p.greeting-message {
	padding-top: 35%;
	font-family: 'Gloria Hallelujah', cursive !important;
	font-size: 22pt !important;
	color: red !important;
}

.btn-greeting {
	margin-top: 30px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 22pt !important;
}

.navbar-brand {
	height: 80px !important;
}

.nav-header {
	top: 20px;
	font-size: 14pt;
	font-family: 'Gloria Hallelujah', cursive;	
}

.greeting-button {
	width: 150px;
	height: 50px;
}

.img-aurelia {
	padding-top: 90% !important;
}

.img-ruby {
	padding-top: 90% !important;
	width: 40%;
}

.top-indent {
	padding-top: 50px;
}